body {
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    margin: 0;
}
#universe {
    clear: both;
    margin: 5px;
}
h1 {
    margin: 0;
    float: left;
    position: relative;
    left: -6px;
}
h2 {
    margin: 0;
    float: center;
    font-family: Verdana;
    text-align: center;
    text-decoration: underline;
    center: 0px;
}

ul#navigation {
    float: right;
    padding: 5px;
    margin: 0;
    list-style: none;
}
ul#navigation li {
    float: left;
}
a {
    color: #3b5998;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#copy {
    color: #555;
    font-size: 80%;
    padding: 20px 5px;
    text-align: center;
}
#navigation a {
    padding: 5px;
}
#navigation a:hover {
    background-color: #e5e5ff;
}
div.eof {
    clear: both;
    margin: 0;
    padding: 0;
}
