<?php
    return array(
        'db' => array(
            'username' => 'aviation',
            'password' => 'password',
            'hostname' => 'localhost',
            'database' => 'aviation'
        ),
        'url' => 'http://dionyziz.kamibu.com/aviation/'
    );
?>
